<br>
<br>
<div class="container">

<center><h1>title</h1></center>
<p>We’re a non-profit on a mission to teach art-making as a form of mindfulness meditation to every cancer survivor on the planet.</p>
<br>
<center><h1>Worldwide</h1></center>
<center>Every single year over 14 million people learn they have cancer.<br>
Cancer Diagnosis = Overwhelming Physical & Emotional Distress = Suffering<br>
Artful Creativity = Freedom of Expression = Mind, Body, Spirit Healing<br></center>
<br>
It is hard to imagine what 14 million people really look like but one in every four might be easier. One in every four people in our world will face this arduous Cancer Journey, a grueling journey physically, emotionally, spiritually.  If you’re a cancer survivor, you get this.  If you are not, let us introduce you to a few of these millions of courageous survivors.   Let them show you how art helped save their lives.
<br>
We invite you to put yourselves in their shoes.  Follow them through their doctor’s appointments, their chemo & radiation treatments, their pain & nausea, fatigue & sleeplessness, their body scars & loss of hair, their fight for life!   No one chooses this path but everyone needs a helping hand through it.
<br>
Now, make a decision to help.  Since 1998, Healing Icons® expressive arts workshops have helped thousands of adults who have been touched by cancer in visually communicating their journey, by providing creative, evidence-based complementary cancer treatment support that is accessible and affordable, all over the world.  
<br>
If you are a cancer survivor, at any stage or level of cancer, jump in and join us. In this sometimes lonely and confusing journey you need clarity and peace of mind.  Art-making helps you take positive steps in lightening your load.  Absolutely No Experience is Necessary!
<br>
<br>
What is a Healing Icon®?
The word icon comes from the Greek word eikon, meaning likeness.  So a Healing Icon is simply visually representation of the cancer survivor’s journey, each one being uniquely personal and intimate.   Overwhelmed by what is happening to our bodies, it can be extremely difficult to even identify what is being felt on the inside.  A participant once said, “I feel as though I have un-namable overwhelming sensations that whirl around inside my head and my body but they are not speech ready.”  Not Speech Ready.  How do we experience what is happening in our lives when we can’t put words to it…when Sometimes Words Are Not Enough.  This is where Healing Icons® comes into play.
</div>