<div class="container">
<div class="title-box">
<div class="title-box-text">Healing Icons is a<span class="color-green"> 501(c)3 non-profit</span> for adult cancer survivors.</div>
<p>Please help us foster hope and healing to women with cancer as well has to those who have suffered tremendous loss.<br> We welcome support throughout the year.<br /> <br>Honor a special occassion, a loved one or a member of your health care team with a donation to Healing Icons.</p>
</div>
</div>
<div class="margin-bottom-30"></div>
<div class="container">	
<!-- Service Blcoks -->
<div class="row servive-block margin-bottom-10">
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-grey">
<h4>$100</h4>
<div><i class="fa fa-heart-o"></i></div>
<p>$100 provides art supplies for our Oncology Workshops</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-grey">
<h4>$200</h4>
<div><i class="fa fa-heart-o"></i></div>
<p>$200 sponsors a student for one Oncolgy Workshop</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-grey">
<h4>$250</h4>
<div><i class="fa fa-heart-o"></i></div>
<p>$250 funds reproduction of new work for traveling exhibition</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-grey">
<h4>$500</h4>
<div><i class="fa fa-heart-o"></i></div>
<p>$500 maintains the Student Scholarship Program</p>
</div>
</div>
</div>
<div class="row servive-block margin-bottom-10">
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-sea">
<h4>$1000</h4>
<div><i class="fa fa-heart"></i></div><br />
<p>$1,000 sustains our Travel Retreats</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-sea">
<h4>$1500</h4>
<div><i class="fa fa-heart"></i></div><br />
<p>$1,500 assists Annual Exhibition "Insights into Healing" </p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-sea">
<h4>$2,500</h4>
<div><i class="fa fa-heart"></i></div><br />
<p>$2,500 assures our Women's Oncology Programming thrives</p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="servive-block-in servive-block-colored servive-block-sea">
<h4>$5,000</h4>
<div><i class="fa fa-heart"></i></div><br />
<p>$5,000 preserves "Sometimes Words Are Not Enough" </p>
</div>
</div>
<br />
</div>
<div class= "container">
<div class="row">
<div class= "col-md-4">
<div id='razoo_donation_widget'><span><a href="http://www.razoo.com/story/Healing-Icons">Donate to HEALING ICONS</a> at <a href="http://www.razoo.com/">Razoo</a></span></div><script type='text/javascript'>var r_params = {"title":"HEALING ICONS","short_description":"","long_description":" ","color":"#6ec9c9","errors":false,"donation_options":{"100":"Aids in Providing Excellent Art Supplies for our women's oncology workshops","195":"Pays a Workshop Fee","200":"Sponsors a Student for one of our Women's Oncolgy Workshops"},"image":"true"};var r_protocol=(("https:"==document.location.protocol)?"https://":"http://");var r_path='www.razoo.com/javascripts/widget_loader.js';var r_identifier='Healing-Icons';document.write(unescape("%3Cscript id='razoo_widget_loader_script' src='"+r_protocol+r_path+"' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<div class= "col-md-8">
<div class="margin-bottom-3"></div>
<p><h3><i class="fa fa-arrow-up fa-lg"></i> Help Our Mission Grow:</h3><br />
Cancer stops you in your tracks. Heartbreaking losses and regrets deaden your spirit. They turn your life upside down, inside out. Alone we can’t, but in small gatherings we can together we can begin to understand and heal. One story, one creation at a time.
<br />
<br />
<h4>A student reflection from Insights into Healing:</h4>
"Cancer creates many dualities. Chemotherapy saves your life, but strips you of your identity<br />
Renders you anonymous-bald head, bland face, no eyebrows, no eyelashes. Dealing with my disease leads to another duality.<br />
My outward persona and my inward self. <br />
On the outside, I am strong and proud, a fierce warrior.<br />
Inside, the fighter seeks a soft blue sanctuary, a quiet place for rest.<br />
Cancer caused intertwined feelings, love and fear.<br />
I am not who I was….I am better."<br />
<strong>-Dualities words inspired from creating a 3D Mask of Change. By R.B. 1999</strong>
<br />
<br />
</p>
</div>
</div>
</div>
</div>