
<br>
<br>
<div class="container">

<center><h1>Get Messy with Healing Icons</h1></center>
<br>
<br>

<center><h1>Courageous Creating</h1>
<h3>Ask your gut instinct, your intuition to come out and play</h3>

Healing Icons® at your own pace. </center>
<br>
<br>
You will:<br>
Discover a supportive nurturing community <br>
Learn there is no right or wrong way to create<br>
	Cultivate time for art play = fun = rest <br>
	Quiet the thunderous roar of  mind stuff<br>
Begin to “speak” the silent powerful language of art<br>
Create a series of  mandalas representing the current rumblings in your life<br>
<br>
<br>
<br>
Now offered online...(adjust)<br>
Our eCourse is a visual ... tool built around simple design and the creative process.<br>
You just worry about creating awesome stuff. We'll handle the rest.<br>
Sign up now to join the waiting list for our first eCourse!<br>

<form class="footer-subsribe">
<div class="input-group">
<input type="text" class="form-control" placeholder="Email Address">
<span class="input-group-btn">
 <input type="submit" value="Request Invite!" class="btn btn-large" />
</span>
</div><!-- /input-group -->
</form>

<br>

<br>
<h3>Testimonials</h3>
"Looking forward to this class each week was the highlight of my cancer agenda!!  The atmosphere Heidi created was so very peaceful and her gentle encouragement allowed me to begin to release a half century of "junk".
<br>
"The fellowship is so uplifting. I feel I have a devoted, dependable, loving and encouraging family. To be accepted as I am, has given me a chance to grow – not only creatively, but spiritually, too."
<br>
"These art and healing classes provided me with much needed support and enjoyment. Fellowship came through our learning that art has healing powers. We all realized we were just as afraid of Art as we were of our cancer! All that changed very quickly!"
<br>

<br>
<h3>About the Class</h3>

<br>
We all know that a cancer diagnosis turns our world upside down and inside out.  We assemble our medical team, make a treatment plan and get started with healing our body.  But no one addresses the internal struggles, the emotional rollercoaster that goes hand in hand while living with this life threatening disease.  All of this anxiety and uneasiness weighs us down and has the potential to weaken our immune system, one of our strongest weapons for the battle against cancer.  We need more than medicine.

<br>
Creating mandalas is an ancient practice we have revamped for new times, our time.   Mandala, the Sanskrit word for circle, is an archetypal symbol of balance, wholeness and unity.   They have been created for centuries as meditational symbols that when contemplated, lead to self-awareness, insight and peace.  Think – stained-glass rose windows in cathedrals, moon gazing, Sufi dancers, Buddhist sand painting.

<br>
The goal of creating a mandala is not an intellectual path but a journey that trusts and supports a willingness to open into the playful intuitive mystery of the creative process.  Here is where your gut instinct, your intuition comes out to play.

<br>
To freely create mandalas cultivates a skillful practice that calms and anchors us into a quiet stillness that can be found within the cancer survivor’s life.

<br>
<br>
<h3>Class Project</h3>
We will get into the art-making flow by simply using a white pencil and black paper.  Then we will invite colored pencils and watercolor to come out and play.  These playmates will become dear friends and we will create a series of drawn mandalas using a variety of techniques.  These mandalas will become doorways, entry point into the written word.  Your visual creations will inspire a flow of creative ponderings.  The two will inform each other.

<br>
Study with a Seasoned Professional Artist with over 40 years of art-making experience and 20 years of creating with cancer patients.  You are in good hands.

</div>



