
<br>
<br>
<br>
<div class="container">
<div class="row">
        <div class="col-md-12 coming-soon">
<center><h1>Healing Icons<small>®</small> at your own pace.</h1></center>
<br>


 <center><h1 class="section-title">Coming Soon!</h1></center>
   <p class="section-description">Our eCourse is a visual tool built around simple design and the creative process.  Anyone can do it.
<br>You just worry about creating awesome stuff.  We'll handle the rest.<br>Sign up now to join the waiting list for our first eCourse!</p>
<br>
<form class="subsribe">
<div class="input-group">
<input type="text" class="form-control" placeholder="Email Address">
<span class="input-group-btn">
 <input type="submit" value="Request Invite!" class="btn btn-primary"/>
</div><!-- /input-group -->
</form>
<br>
</div>
</div>
</div>



<div class="container">
<!-- Service Blocks -->
<div class="row margin-bottom-50">
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-cogs fa-lg"></i> Courageous Creating</h4>
<p>A six week ecourse exploring the art<br> of mandala making:
<br><br>Decrease stress and anxiety.
<br>Discover a supportive nurturing community. 
<br>Learn there is no right or wrong way to create.
<br>Cultivate time for art, play = fun = rest.
<br>Quiet the thunderous roar of  mind stuff.
<br><br>The goal of creating a mandala is not an intellectual path but a journey that trusts and supports a willingness to open into the playful intuitive mystery of the creative process.  Here is where your gut instinct, your intuition comes out to play.
</p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-map-marker fa-lg"></i> About the Class</h4>
<p>Creating mandalas is an ancient practice we have revamped for new times, our time.<br><br> Mandala, the Sanskrit word for circle, is an archetypal symbol of balance, wholeness and unity.   They have been created for centuries as meditational symbols that when contemplated, lead to self-awareness, insight and peace.<br><br>Think: stained-glass, rose windows in cathedrals, moon gazing, Sufi dancers, and Buddhist sand painting.</p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<i class="icon-plane service-icon"></i>
<div class="desc">
<h4><i class="fa fa-heart fa-lg"></i> Your Guide</h4>
<p>To freely create mandalas cultivates a skillful practice that calms and anchors us into a quiet stillness that can be found within the cancer survivor’s life.<br><br>Study with Heidi Darr-Hope, a seasoned professional artist with over 40 years of art-making experience and 20 years of creating with cancer patients.<br><br>Our approach is unique and our methods are 100% evidence-based. You are in good hands.</p>

</div>
</div>
</div>
</div>
</div>











