
<br>
<br>
<div class="container">
<div class="row">
        <div class="col-md-12 coming-soon">
<center><h1>Healing Icons<small>®</small> at your own pace.</h1></center>
<br>
<br>

 <center><h1 class="section-title">Coming Soon!</h1></center>
<br>
<form class="subsribe">
<div class="input-group">
<input type="text" class="form-control" placeholder="Email Address">
<span class="input-group-btn">
 <input type="submit" value="Request Invite!" class="btn btn-primary"/>
</div><!-- /input-group -->
</form>




<br>
</div>
</div>
</div>



<div class="container">
<!-- Service Blocks -->
<div class="row margin-bottom-50">
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-cogs fa-lg"></i> <%= link_to "Healing", vision_path %></h4>
<p>Within this series of programs:
<br />Decrease stress
<br />Fall in love with creativity
<br />Discover a supportive nurturing community
<br />Take ownership in the Journey through Cancer
</p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-map-marker fa-lg"></i>
 <%= link_to "Exhibitions", exhibitions_path %></h4>
<p>Learn what it's like to use mindful art-making processes to decrease stress and find a deeper understanding of art as healing. Our approach is unique and our methods are 100% evidence-based. </p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<i class="icon-plane service-icon"></i>
<div class="desc">
<h4><i class="fa fa-heart fa-lg"></i> <%= link_to  "Gallery", gallery_path %></h4>
<p>"Heidi’s knowledge was tremendous. The opportunity to express my inner thoughts and feelings with others experiencing a life-threatening condition was healing"<br />-Student</p>

</div>
</div>
</div>
</div>
</div>




