
<div class="container">


Sometimes Words Are Not Enough

Uplifting.  Inspiring.  Honest.

Comments from our Exhibition Guests: 
 “This is a profound way for healthy people to gain a better understanding of what cancer patients are going through.  I can see and feel these survivors’ wide range of thoughts and emotions, from tremendous joy to painful remorse.  Thank you for this exhibition!”

“It is obvious that each survivor used the creative process to look deep within themselves to find fear, pain, anger...  Then victoriously worked through it all to embrace the courage & tenacity was there all along.  Amazing!”

“The icons in this exhibition are so heartwarmingly beautiful.  They gave me a sense of peace as we bury a dear friend tomorrow, who died from cancer after a long struggle.”

“How courageous and thought provoking!  Artistically Well Done.  Beautiful and Uplifting!”

This is an exhibition created by ordinary people from all walks of life and they do not consider themselves artists.  The single thread that runs through this exhibition is that they all have heard the three words that change a life forever, “You Have Cancer.” 
You might ask why anyone would want to create from the place of pain and struggle that comes with cancer, much less view an exhibition about it.  We believe several things:
The joys in life are lived; the pain is life is expressed.   Once pain is released, we are enlivened and move towards living more fully.
Pain is universal - no matter the issue - so this exhibition speaks to a wide audience.
Difficult issues are hard to talk about.  We need a threshold, an entryway that helps us find our way into these conversations.  These works of art do that.
“The aim of art is to represent not the outward appearance of things, but their inward significance.”  - Aristotle    Art helps us understand what it is to be human.
As one viewer said, “This exhibition is not just about cancer, it is about the incredible resiliency of the human spirit.  Inspiring and Uplifting!”  
We all have been touched by cancer in some way, whether a diagnosis has been received personally, or we have journeyed through it with a family member, friend, co-worker or neighbor.  

The works in this exhibition show how participants in Healing Icons®
Decrease stress while increasing their coping skills
Discover a supportive nurturing community 
Learn the silent, powerful language of art
Create a series of Healing Icons® that symbolically represent the current issues in their lives
Uncover a deep wellspring of emotional and spiritual healing

	Each unique piece of artwork:

Tells a story

Offers inspiration and insight into the world of cancer

Spreads the gift of hope and healing

VISIT STUDENT GALLERY
Sometimes Words Are Not Enough 
Highlights of places we have traveled: 
Palliative Medicine Conference, Sponsored by the Mayo Clinic, Orlando, FL
	Common Boundary Conference, Washington, DC
	South Eastern Very Special Arts Conference, Atlanta, GA
	23rd Annual Congress of the Oncology Nursing Society, San Francisco, CA
Georgia College and State University, Milledgeville, GA
	The University of Charleston, Charleston, WV
The Art of Survival, The Music of Life, Amgen Inc. San Diego, CA San Francisco, CA San Antonio, TX
	Dock Street Theater, Guerilla Theatre’s production of Wit, Charleston, SC

Book Your Exhibition Today

Where there is a wall there is a way!

Please don’t think you have to have a gallery space within a state-of-the-art institution to book our exhibition.   Our works have been displayed in church parlors, doctors’ waiting rooms, office break rooms, bank and theatre lobbies.  Our staff will assist you in finding just the right space within your facility.

Exhibitor Responsibilities
The exhibitor is responsible for booking reservations, publicity, unpacking and repacking of show, handling and hanging of shows, picking up and returning the exhibits (if within driving distance – otherwise shipping arrangements will be made) and assumes liability for rented exhibitions. 

Payment
If the exhibition is available, exhibitors will receive a confirmation letter and rental-fee invoice.  Payment should be sent no fewer than 30 days before the scheduled pick-up/ delivery time of the exhibition.  Invoices must be paid in full before any exhibition is released.

Information
TEP Coordinator
803-429-4151
Info@healingicons.org




Exhibitions
This features 2-D and 3-D full-color fine art reproductions of mixed media artwork created by adult cancer patients.  Every exhibition contains two original works of art to enhance the viewer’s experience.

All works are mounted on foam core, sealed with a protective coating and framed without glass in a light weight brush metal molding, wired for hanging
Each exhibition includes an introduction panel and two process panels showing students working. 
Each exhibition is accompanied by an informational DVD, which may remain the property of the exhibitor for an additional fee of $10.
Each panel measures 25 1/4”x 19 1/4”x 2” (height/width/depth)

Whether you want to rent 3 pieces or 40 pieces, we will work to meet your needs.
Here are some general ideas. 

10 reproductions - $1,500 + shipping and insurance
Linear feet needed - 40

15 reproductions - $2,000 + shipping and insurance
Linear feet needed - 60

20 reproductions - $2,500 + shipping and insurance
Linear feet needed - 80

30 reproductions - $3,500 + shipping and insurance
Linear feet needed - 120

Duration of exhibition – 3 months – which is inclusive of shipping time

Add Ons-
Public Talk - $2,500 plus travel expenses, room and board
Workshop - $ 3,500
	Purchase - Reproductions in the exhibition may be purchased for $175 unframed.

Suggested Installation information

1. When unpacking a box, always note how the contents have been wrapped and placed. Keep all the original packing material to use when repacking.  Fill out condition report as you are unpacking.
2. When staging two-dimensional pieces, place them upright against the wall, face-to-face and back-to-back, with separators between faces. Stack similarly sized works together. Never lay panels or framed works flat on the floor, and use rubber or non-skid pads to prevent slipping and to protect the bottom of the objects.
3.  All works are wired ready to be wall mounted.  We will provide easels if you do not have a designated gallery.
4. When hanging two-dimensional works, position the center of the object at standard eye level. This is generally considered to be 60"-64" from the floor.
5.  We suggest around 24” between each artwork.  This can be adjusted as your individual space requires.  The artwork can also be broken up into smaller groups or units if space demands.





Don’t think you have to have a gallery space within a state of the art institution to book our exhibition.   Our works have been displayed in church parlors, doctor’s waiting rooms, office break rooms, bank and theatre lobbies.  Our staff will assist you in finding just the right space within your facility.
<br><br>
Exhibitor Responsibilities<br>
The exhibitor is responsible for booking reservations, publicity, unpacking and repacking of show, handling and hanging of shows, picking up and returning the exhibits (if within driving distance – otherwise shipping arrangements will be made) and assumes liability for rented exhibitions. 
<br><br>
Payment<br>
If the exhibition is available, exhibitors will receive a confirmation letter and rental-fee invoice.  Payment should be sent no fewer than 30 days before the scheduled pick-up/ delivery time of the exhibition.  Invoices must be paid in full before any exhibition is released.
Information<br>
TEP Coordinator<br>
803-429-4151<br>
Info@healingicons.org<br>
<br><br>
Exhibitions<br>
This features 2-D and 3-D full-color fine art reproductions of mixed media artwork created by adult cancer patients.  Every exhibition contains two original works of art to enhance the viewer’s experience.<br>

All works are mounted on foam core, sealed with a protective coating and framed without glass in a light weight brush metal molding, wired for hanging
Each exhibition includes an introduction panel and two process panels showing students working. <br>
An informational DVD <br>
Each panel measures  25 1/4”x 19 1/4”x 2” (height/width/depth)<br>

Whether you want to rent 3 pieces or 40 pieces, we will work to meet your needs.<br>
Here are some general ideas.<br>
<br>
<br>
10 reproductions - $1,000 + shipping and insurance<br>
Linear feet needed - 40<br>

15 reproductions - $1,500 + shipping and insurance<br>
Linear feet needed - 60<br>

20 reproductions - $2,000 + shipping and insurance<br>
Linear feet needed - 80<br>

30 reproductions - $3,000 = shipping and insurance<br>
Linear feet needed - 120<br>

Duration of exhibition – 3 months – which is inclusive of shipping time<br>
<br>
Add Ons-<br>
Public Talk - $2,500 plus travel expenses, room and board<br>
Workshop - $ 3,500<br>
	Purchase - Reproductions in the exhibition may be purchased for $175 unframed.<br>
<br><br>
Suggested Installation information
<br>
1. When unpacking a box, always note how the contents have been wrapped and placed. Keep all the original packing material to use when repacking.  Fill out condition report as you are unpacking.<br>
2. When staging two-dimensional pieces, place them upright against the wall, face-to-face and back-to-back, with separators between faces. Stack similarly sized works together. Never lay panels or framed works flat on the floor, and use rubber or non-skid pads to prevent slipping and to protect the bottom of the objects.<br>
3.  All works are wired ready to be wall mounted.  We will provide easels if you do not have a designated gallery.<br>
4. When hanging two-dimensional works, position the center of the object at standard eye level. This is generally considered to be 60"-64" from the floor.
5.  We suggest around 24” between each artwork.  The artwork can be broken up into smaller groups or units if space demands.<br>
</div>
