
<br>
<br>
<div class="container">
<h1>title</h1>
<br>
Once upon a time there was an artist who had experienced a lot of loss during her lifetime.  She lived in a family and within a society that did not discuss their feelings openly so she was left alone to try to understand her feelings of God and why people die.  Death first crept into her life as a ten year old when her six year of brother died of brain cancer.  No one talked about it.  They wore white to the funeral to symbolize rebirth.  She would pull the bedcovers over her head, curl up in a tight ball and cry alone.
<br>
<br>

Four years later, she found herself curled up in this same tight ball crying alone in her boyfriend’s mother’s bed, not wanting to talk to anyone, not wanting to go home.  She had been at a dance waiting for her best friend to arrive.  As she and her friends talked and laughed outside waiting in their new dresses anticipating the romance of the evening, the news arrived that there had been a car accident and Suzy was killed.  The girl began to cry. There must be a mistake.  This can’t be true.  It was and again no one wanted to talk about it.  She cried for days and locked her sadness deep inside.
<br>
<br>

Years passed and the girl went to college and fell in love with a wonderful man who she married and had children with.  Her life was filled with love but she still felt a deep sadness, a melancholy and a heavy heart.  She had become a visual artist spending a lot of time alone with her thoughts.  It took many, many years but one day she realized  the art she made helped her fill the hole in her heart.  
<br>
<br>

Wanting to teach others this healing way of art-making, she developed an art class based on the way she had been creating her own art.   On day a friend of hers said, “You need to call our cancer center.” she said.  “They need you.”
<br>
<br>

The artist was very nervous about calling a big hospital.  Would they think she was crazy?  An art class for healing the emotional wounds of cancer patients?  The vice president of the hospital did not laugh.  This caring man introduced her to a nurse, who knew of the importance of expressing inner turmoil.  Together the nurse and the artist began to do their work at this cancer center.
<br>
<br>

The artist began to meet courageous men and women, who were reevaluating their lives because of facing a life threatening disease.  Through determination and self-reflection these cancer survivors began to dig deep within their souls to transpose their darkness.  Creativity helped them in ways they never imagined.  
<br>
<br>

As her passion for arts as healing grew, she decided Healing Icons needed to become a 501(c)3 non-profit, and it did on February 18, 2009.  Her community honored her for her work by presenting her with the 2011 Elizabeth O'Neil Verner Award - the governor's highest awards in the Arts, and that same year The Palmetto Center for Women awarded her the 2011 Twin Award in Health and Wellness.  This distinguished honor, Tribute to Women in Industry, has been given annually to women whose outstanding achievements mark them as leaders and role models in business and in the community.
<br>
<br>

This artist felt deep gratitude to Art, who had led her places she never expected to travel.
</div>





