<div class="container">
<div class="row portfolio-item margin-bottom-50">

<div class="col-md-6">

<div class="carousel slide carousel-v1" id="myCarousel">
<div class="carousel-inner">
<div class="item active">
<img src="<%= asset_path("home-background-2.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
</div>
<div class="item">
<img src="<%= asset_path("home-background-2.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
</div>
<div class="item">
<img src="<%= asset_path("home-background-2.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
</div>
</div>
<div class="carousel-arrow">
<a data-slide="prev" href="#myCarousel" class="left carousel-control">
<br>
<br>
<br>
<br>
<br>
<i class="fa fa-chevron-circle-left"></i>
</a>
<a data-slide="next" href="#myCarousel" class="right carousel-control">
<br>
<br>
<br>
<br>
<br>
<i class="fa fa-chevron-circle-right"></i>
</a>
</div>
</div>
</div>



<div class="col-md-6">
<h2>Annual Autumn Rememberance</h2>
<p><strong>October 30 – November 2 at the 5 Points Fountain in Columbia, SC</strong></p>
<p>Beginning in 2006, it creates inspiring personal experiences around the issue of loss grief as well as fostering intimate, social community connections. Based on the Mexican tradition of Day of the Dead, an altar is created for the community to light candles, and bring remembrances to honor the beloved. </p>
<p>Cross-Cultural Community Based Art brings awareness to the value of a more connected, collaborative approach to life. Many other cultural traditions recognize the value of community based rituals and traditions to mark and honor life’s rites of passage – birth, death, etc. </p>
<p>Hundreds of candles have been lit in memory of grandmothers and grandfathers, sisters and brothers, aunts and uncles and children. Mementoes, flowers and photographs grace the altar. People linger to relate their stories of sorrow and a gentle peace fills the air. Some come during lunch hour, through in-between appointments, dressed in Halloween attire, stay long into the night and share stores...young and old, poor and wealthy, Black, White, Hispanic, Oriental, Indian. All walks of life come to remember...together. </p>
</div>
</div>



<div class="container">
<div class="row">
<h2>Remebering Helps Healing</h2>
<p>A recent study out of Duke University states “one in every four Americans has no one to confide in”. We know that loneliness, isolation, and a lack of connection give way to depression and emotional stress which eventually takes its toll on our spiritual and physical well-being. Research has shown that social isolation and loneliness can impair the immune system. Through this community based art, deep personal connections are created and a diverse nurturing art as healing community is established.<p>
<p><small>“The Ties that Bind are Fraying” M McPherson, L Smith-Lovin, M Brashears - Contexts, 2008 - Univ California Press</small></p>
<p><small>“Loneliness, Social Network Size and Immune Response to Influenza Vaccination in College Freshman,” Sarah D. Pressman, MS and Sheldon Cohen, PhD, Carnegie Mellon University; Gregory E. Miller, PhD, University of British Columbia; Anita Barkin, DrPH, CRNP, Carnegie Mellon University; Bruce S. Rabin, MD, University of Pittsburgh; John J. Treanor, MD, University of Rochester; (2005) Health Psychology, Vol. 24, No. 3.</small></p>
</div>
</div>