
<br>
<br>
<div class="container">

<h1>Our Road Map</h1>
<p>Our founder fell in love with Joseph Campbell’s work on The Power of Myth, Carl Jung’s archetypal dream world, James’s Pennebaker’s research on how writing heals and used these passions to the fuel the creation of our classes. 
<br>
<br>
It all boiled down to the Hero’s Journey and realizing is simple fact that stories are important to people.  They are how we make sense of ourselves and the world we live in.  Stories help us find meaning in the pain we have endured!  At Healing Icons®, we create visual stories that piece together into a classic telling the Hero’s Journey.
It goes something like this - <br>
<br>

One day when you least expected it, you received “The Call”.  Three simple words, “You Have Cancer” and your life changed forever.  Without warning you were thrust into a foreign world full of overwhelming choices, strange deadly potions and frightening events.  As you entered this strange new world, you faced a rigorous battle.  You endured severe challenges.  While fighting for your life, you learned new things about yourself, surprising things and realized you were changing.  Returning home from battle was not easy as the world you left behind did not recognize you.  Slowly you began to tell your story to others and they began to see you in a new light.  As the conversation deepened, your story changed them, and in the telling all were stretched beyond the world before cancer.</p>

<br><br><br>
<h1>Insights into Healing-</h1>
Explain more about what is the significance of below and why you do it:
<br>
Coping with a life threatening disease is extremely stressful, producing a range of intense feelings that are difficult to articulate.  Many time emotions that are not speech ready lie festering just below the psyche’s surface.  Suppressed anger, fear, loss of control and even a sense of betrayal can often overwhelm cancer patients and their families, resulting in a toxic environment of stress. Most times words are not enough to communicate what is inside.  The creative process gives symbolic voice to the emotions that consume cancer patients during these times, ushering movement past the “normal” known range of expression into a silent mysterious realm full of color, shape, texture, word and image.  Within this world, a different kind of inner strength and healing is accessed, and the notion that it takes more than medicine to heal is experienced.
<br><br><br>

<h1>Seasons of Healing</h1>

Our physical world offers much solace from the chaos of life's stress.   Each season offers s a theme for our contemplation and growth.   Healing Icons® classes invite you to travel into creativity hand in hand with nature.  As you work inwardly, nature will express her grand show of transition outwardly.
<br>
<br>
 It is our hope that you will choose to experience the felt sense of the seasons with our arts and healing community.  You will learn healing practices, art and writing techniques and connect with others on the cancer journey, all of which will sustain you across the seasons of your life.
<br>
<br>
<br>
<br>


Should we include info about Living Legacies here? If so we need text for it...
<br>
<br>

You might not be old enough to remember the phenomenon of Pen Pals but we are basing Living Legacies on that old fashioned concept.  This idea of communicating to a stranger through the art of the hand written note has held the promise of a new friendship potentially filled with fresh perspectives on what it is to be human.  Our exchange will link cancer survivors from different cities, states and perhaps even countries using the visual arts and creative writing to begin an extraordinary conversation about what it is like to live with cancer.
<br>
<br>
East Coast Visual Artist Heidi Darr-Hope of Healing Icons and West Coast Writer Dr. Sharon Bray of Writing through Cancer at University of California at San Diego Moores Cancer Center  and Scripts Cancer Centers in La Jolla, California will collaborate in this innovative exchange.  Both of these artists have well over two decades of experience working with cancer survivors. 
<br>
<br>
On the east coast, Healing Icons® will guide participants to create visually from their cancer experience, using collage, and expressive painting techniques.  On the west coast, Sharon Bray will offer expressive writing exercises.  The writers will send their work to the artists who will respond visually to their words.  The artists will send their creations to the writers who will respond accordingly.  Back and forth the creative process will weave.

<br>
<br>
<br>


<h1>Tune-ups</h1>

???
</div>













