

<div class="jumbotron">
  <div class="container">
     <div class="row">
       <div class="blocky"><center><h1>Use Creativity to Fight Cancer</h1>
          <br><br><h2>Enroll in classes with survivors all over the world</h2>
          <br><br> <button type="button" class="btn btn-primary btn-lg active">Start Creating</button>
       </div>
    </div>
  </div>
  </div>

  <div class="purchase">
        <div class="container">
            <div class="row">
         
                       <center><span><br>No Experience Necessary.</span>
                    <span><h4>Creativity stimulates healthy immune systems- a person's best chance at fighting cancer.<br>Healing Icons<small>®</small>, visual symbols about the cancer journey are created in a powerful series of courses.<br><br></h4></span></center>
            </div>
              
                     
                </div>   
                        
             
            </div>
        </div>
    </div>
</div>

<div class="container">
<!-- Service Blocks -->
<div class="row margin-bottom-10">
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-cogs fa-lg"></i> <%= link_to "Press", press_path %></h4>
<p>Within this series of programs, you will ok:
<br />Learn the silent symbolic language of art
<br />Decrease your stress while increasing coping skills
<br />Discover a supportive nurturing community
<br />Create a Healing Icons®, a visual symbol about your cancer journey</p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<div class="desc">
<h4><i class="fa fa-wrench fa-lg"></i> <%= link_to "Press", press_path %></h4>
<p>Every now and again our engines run dry, needing to be taken off the road and tended to. Balance and alignment are key to this process. Are you over due for a Tune Up?
<br />Workshops after Insights into Healing series, offers creative support in living beyond cancer.</p>
</div>
</div>
</div>
<div class="col-md-4 service-alternative">
<div class="service">
<i class="icon-plane service-icon"></i>
<div class="desc">
<h4><i class="fa fa-heart fa-lg"></i> <%= link_to "Student Gallery", gallery_path %></h4>
<p>"Heidi’s knowledge and encouragement were tremendous. The opportunity to express my inner thoughts and feelings in the accompaniment of others experiencing a life-threatening condition was incredibly encouraging as well as healing"<br />-Student</p>
</div>
</div>
</div>
</div>
<!--/row-->
<!-- End Service Blokcs -->


<br>
<br>

<div class="one-page">

<div class="one-page-inner one-grey">
<div class="container">
     <div class="row">
        <div class="col-md-6">
          <br>
		<img src="<%= asset_path("blue_paintbrush.jpg") %>" class="img-responsive" width="555px" height="313px" margin-bottom-"10" alt="Heidi-Darr Hope Portrait">
		</div>


		<div class="col-md-6">
		<h1><i class="fa fa-comments"></i> Become a Healing Icons Student</h1>
		<br>
		<p>Join us as we begin to explore the joys and sorrows of the human condition through the silent language of art. Each six week series will have a different theme and explore the use of different techniques.</p><p>Absolutely NO EXPERIENCE is needed! Whether you are currently "in-treatment" or you are post treatment you are welcome to join us. You will know when the time is right.</p>
		</div>
    </div>

</div>
</div>

<div class="one-page-inner one-grey">
<div class="container">
    <div class="row">
		<div class="col-md-6">
		<h1><span><i class="fa fa-globe"></i> Join a Community of Thousands</span></h1>
		<br>
		<p>We build communities of hope and optimism to transform the trauma of cancer into opportunities for growth. Deep personal connections are created and our nurturing community of support continues to thrive,inspiring continued strength and fortitude for years to come.</p><br>
		</div>


		<div class="col-md-6">
	 	<div class="responsive-video">
        <span><iframe src="http://www.youtube.com/embed/K_xhaTZMLEE" frameborder="0" allowfullscreen>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></span>
        </div> 
	  	</div>
   </div>
</div>
</div>
</div>

