

<div class="jumbotron">
  <div class="container">
     <div class="row">
       <div class="blocky"><center><h1>Use Creativity to Fight Cancer</h1>
          <br><br><h2>Enroll in classes with survivors in your city</h2>
          <br><br> 
         <%= link_to "Start Creating", ecourse_path, class: "btn btn-primary btn-lg" %>
       
       </div>
    </div>
  </div>
  </div>
 
        </div>
    </div>
</div>

<div class="container features">
        
        <h1 class="section-title">No Experience Necessary</h1>
        <p class="section-description">Creativity stimulates healthy immune systems- a person's best chance at fighting cancer.<br>Healing Icons<small>®</small> are visual symbols you create about your cancer journey in our empowering series of classes.</p>
        <div class="row">
        
          <div class="col-sm-4 scrollimation fade-up">
              <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-scissors"></i>
                <i class="media-object icon-2 fa fa-pencil"></i>
              </div>
              
              <div class="media-body">
                <h4>Unique &amp; Creative</h4>
                <p>Be willing to fall back in love with your creativity.</p>
              </div>
            


            </div>
            
          </div>
          
          <div class="col-sm-4 scrollimation fade-up d1">
              <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-heart-o"></i>
                <i class="media-object icon-2 fa fa-heart"></i>
              </div>
              
              <div class="media-body">
                <h4>Contagious Healing</h4>
                <p>Friendship is a source of joy, that's why we work in small groups.</p>
              </div>
            </div>
        
            
          </div>
          
          <div class="col-sm-4 scrollimation fade-up d2">

          <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-bolt"></i>
                <i class="media-object icon-2 fa fa-cloud"></i>
              </div>
              
              <div class="media-body">
                <h4>Stress-Free</h4>
                <p>Once pain is released, we move toward living fully.</p>
              </div>
            </div>
            
          </div>
          
        </div>
        
        <div class="row">
          
          <div class="col-sm-4 scrollimation fade-up">
            
             <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-wrench"></i>
                <i class="media-object icon-2 fa fa-cogs"></i>
              </div>
              
              <div class="media-body">
                <h4>Coping Tools</h4>
                <p>Learn to cope and uncover a deep emotional well of healing.</p>
              </div>
            </div>
            
          </div>
          
          <div class="col-sm-4 scrollimation fade-up d1">
            
            <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-mobile"></i>
                <i class="media-object icon-2 fa fa-desktop"></i>
              </div>
              
              <div class="media-body">
                <h4>Online Community</h4>
                <p>Connect with other survivors, discuss work, share stories, from any device.</p>
              </div>
            </div>
            
          </div>
          
          <div class="col-sm-4 scrollimation fade-up d2">
            
               <div class="media">
              <div class="icon pull-left">
                <i class="media-object icon-1 fa fa-star-o"></i>
                <i class="media-object icon-2 fa fa-star"></i>
              </div>
              
              <div class="media-body">
                <h4>Amazing Support</h4>
                <p>Our experienced and dedicated teachers are here for you.</p>
              </div>

            </div>
           
            
          </div>
          
        </div>
      
      </div>

    </section>
<br>
<br>

    <div class="wrapper">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
          <br>
<br>
            <h2>We need more than medicine to heal.</h2>
            <p>Since 1998, Healing Icons® has inspired thousands through artistic workshops for adults touched by cancer.</p><p> Our mission is to provide creative, evidence-based cancer treatment <br>support that is
accessible and affordable.
</p>
            
            
          </div>

            <div class="col-sm-6">
                  <div class="responsive-video">
        <span><iframe src="http://www.youtube.com/embed/K_xhaTZMLEE" frameborder="0" allowfullscreen>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></span>
        </div> 
            </div>
        
        </div>
      
      </div>
      
    </div>


<div class="wrapper-process">  
     <section id="services" class="white-bg padding-top-bottom">
    
      <div class="container">

              <h1 class="section-title">Our Process</h1>
            
      
         <p class="section-description">Whether you are currently "in-treatment" or you are post-treatment, you are welcome to join us. <br>You will know when the time is right. </p>
        
        <div class="row services">
        
          <div class="col-sm-3 item text-center scrollimation fade-right d2">
        
            <h3>Creating</h3>
            <p>Get messy with workshops, retreats, exhibitions and community events.</p>
          </div>
          
          <div class="col-sm-3 item text-center scrollimation fade-right">
        
        
            <h3>Uplifting</h3>
            <p>We build communities of hope to transform the trauma of cancer. </p>
            
          </div>
          
          <div class="col-sm-3 item text-center scrollimation fade-left">
        
           
            <h3>Supporting</h3>
            <p>Deep personal connections are created within a nurturing community.</p>
            
          </div>
          
          <div class="col-sm-3 item text-center scrollimation fade-left d2">
        
       
            <h3>Healing</h3>
            <p>The creative process is introduced as <br>a means of confronting fear.</p>

            </div>
          </div>
        
      </div>
      </div>
      
    </section>

<section id="team" class="white-bg padding-top-bottom">
    
      <div class="container">
            
        <div class="row team-member">
        <br>
         <br>
          <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
          
           <img class="img-responsive img-center" src="assets/testimonial.jpg" alt=""/>
            <h4>John Doe</h4>
            <p class="title">something &amp; here</p>
            
          </div>
          
          <div class="col-sm-7 scrollimation fade-left">
          
            <div class="member-details">
              <p>"Looking forward to this class each week was the highlight of my cancer agenda!!  The atmosphere Heidi created was so very peaceful and her gentle encouragement allowed me to begin to release a half century of "junk".</p>
              
              
            </div>
          </div>
        </div>
        <br>
        <div class="row team-member right">
        
          <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left">
          
            <img class="img-responsive img-center" src="assets/testimonial1.jpg" alt=""/>
            <h4>Jane Doe</h4>
            <p class="title">Something here</p>
            
          </div>
        
          <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right">
          
            <div class="member-details">
              <p>"The fellowship is so uplifting. I feel I have a devoted, dependable, loving and encouraging family. To be accepted as I am, has given me a chance to grow – not only creatively, but spiritually, too."</p>
              
             
            </div>
          </div>
        </div>
        <br>
        <div class="row team-member">
        
          <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
          
            <img class="img-responsive img-center" src="assets/testimonial2.jpg" alt=""/>
            <h4>Richard Roe</h4>
            <p class="title">Something here</p>   
            
          </div>
          
          <div class="col-sm-7 scrollimation fade-left">
          
            <div class="member-details">
              <p>"These art and healing classes provided me with much needed support and enjoyment. Fellowship came through our learning that art has healing powers. We all realized we were just as afraid of Art as we were of our cancer! All that changed very quickly!"</p>
              
              
            </div>
          </div>
        </div>
        
       
