<br>
<br>
<div class="container">

<center><h1>Healing Icons offers support and community at all stages of the healing process.</h1></center>
<br><p>Creativity stimulates and supports healthy immune systems-
a person's best chance at fighting cancer. Healing Icons are created in our series of classes, visual symbols about the cancer journey.</p>
<br>
<p>Arts as healing for adult oncology patients.<br>
A family member or caregiver may attend with the survivor</p>
<br>
<br>
<h2>Current Class Offerings</h2>
<br>
<p>Seasons of Healing</p>
<p>Sponsored by Lexington Medical Foundation</p>
Autumn Workshop: Understanding Uncertainty
Unity, wholeness and balance
<br>
Wednesday - September 10th from 1pm – 5pm
Mixed Media Mandalas for Releasing, Letting Go
<br>
Wednesday - September 17th from 11am – 2pm
*Open Studio – independent workshop time
<br>
Wednesday - September 24rd from 1pm – 5pm
Mixed Media Mandalas for Harvesting Gratitude
<br>
Wednesday - October 1st from 11am – 2pm
*Open Studio – independent workshop time
<br>
Wednesday - October 8th from 1pm – 5pm
Mixed Media Mandalas for Accepting Uncertainty
<br>
<br>
<br>
Winter Workshop: Coming Home to Ourselves
Exploring bookmaking
<br>
Wednesday - November 5th from 1pm – 5pm
Creating a Visual Journal for Remembering
<br>
Wednesday – November 12th from 11am – 2pm
*Open Studio – independent workshop time
<br>
Wednesday - November 19th from 1pm – 5pm
Creating a Visual Journal for Letting Go
<br>
Wednesday - November 26th from 11am - 2pm
*Open Studio – independent workshop time
<br>
Wednesday - December 3rd from 1pm – 5pm
Creating a Visual Journal for Discovery 
<br>
<br>
Lexington Medical Center-2728 Sunset Boulevard
West Columbia, SC 29169<br>
Register early as class size is limited<br>
Email us at info@healingicons.org<br>
Or call Libby Daniels 803-791-2289<br>
Jennifer Peagler at 803-791-2617<br>
<br><br>
Living Legacies: Images into Words, Words into Images: 
An East Coast, West Coast Dialog   
Sponsored by The University of South Carolina’s The Center for Colon Cancer Research
<br>
Tuesdays – October 14, 21, 28, Nov. 4, 11, 18<br>
		from 1:00 pm – 3:00 pm<br>
		Most art supplies included<br>
This series will be held at The Lourie Center <br>
1650 Park Circle   Columbia, SC   29201<br>
Located near the intersection of Blossom and Pickens in Five Points, next to Maxcy Gregg Pool, adjacent to the beautiful University of South Carolina campus.
<br>
<br>
Register early as class size is limited
Email us at info@healingicons.org or call us at 803-429-4151

<br>
<br>
<br>
<br>
<br>
<center><h1>“title of eCourse”</h1>
<br>
Get Messy with Healing Icons
<br>
Courageous Creating
Ask your gut instinct, your intuition to come out and play
<br>
We help patients tell meaningful stories online. We have a process, it works. Learn at your own pace<br>
<br>
Learn More- button that takes you to eCourse page</center>
</div>

