<div class="container">
<!--Title Box-->
<div class="title-box">
<div class="title-box-text">We need <span class="color-green">More Than Medicine</span> to Heal</div>
<p>No one argues that coping with cancer illicits extreme stress, producing overwhelming feelings that are difficult to articulate.<br> These feelings need to be expressed.</p>
</div>
</div>
<!--End Promo Box-->
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-bolt fa-large color-sea"></i>
<strong>Creative Freedom</strong>
<p>Our goal is to inspire movement during the journey of cancer recovery fueled by the creative act.</p>
</div>
</div>
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-coffee fa-large color-sea"></i>
<strong>Dedicated Support</strong>
<p>We build small communities of hope and optimism to transform
the trauma of cancer into opportunity.</p>
</div>
</div>
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-heart fa-large color-sea"></i>
<strong>The Art of Survival</strong>
<p>Discovering depth in the smallest of things we experience the resiliency of the human spirit.</p>
</div>
</div>
</div>
<hr>
</div>
<!--End Promo Box-->
<!--=== Content Part ===-->
<div class="container">
<br />
<br />	
<h4>The World Health Organization defines health as “a state of complete physical, mental and psycho/social well-being."</h4>
<p class="margin-bottom-20"> This relationship between our mind, body and soul is crucial to our healing as well as maintaining our health. There is significant research to demonstrate the positive effects of “trauma writing” on the immune system but very little has been done with the creation of art images. Studies in this area are much needed.
<br />
<br />
Scientists in the field of “psycho-neuroimmunology” (PIN) have shown that state of mind affects one's state of health and that stress suppresses the immune system. Initial studies began in the early 1980s, and in 2000 psychologist Janice Kiecolt-Glaser, PhD, and immunologist Ronald Glaser, PhD, of the Ohio State University College of Medicine who began to notice the effect stress had on the body’s ability to fight off disease. Since then a flood of studies have been done and by 2004, Suzanne Segerstrom, PhD, of the University of Kentucky, and Gregory Miller, PhD, of the University of British Columbia, research has shown that long-term or chronic stress can ravage the immune system.
</p>
<br />
<br />
</div>
<div class="container">	
<div class="row">
<div class="col-md-6">
<div class="search-blocks search-blocks-colored search-blocks-grey">
<div class="row">
<div class="col-md-4 search-img">
<img src="<%= asset_path("pins-logo.gif") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<ul class="list-unstyled">
<li><i class="fa fa-location-arrow"></i><%= link_to "Visit PINS Society", "http://www.pnirs.org", :target => "_blank" %></li>
<li><i class="fa fa-globe"></i> Philadelphia, PA</li>
</ul>
</div>
<div class="col-md-8">
<h2>PIN STUDIES</h2>
<p>Scientists in the field of PIN are beginning to research:
<br />
<br />Cancer Risk: What is the interaction between genetic risk for cancer and stress?
<br />Cancer Treatment: Does stress affect ability to recover function from surgery or from chemotherapy?
<br />Cancer Recurrence: What psychological variables might affect metastases and cancer recurrence?</p>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="search-blocks search-blocks-colored search-blocks-grey">
<div class="row">
<div class="col-md-4 search-img">
<img src="<%= asset_path("HI-logo.jpg") %>" class="img-responsive" alt="Healing Icons Logo">
<ul class="list-unstyled">
<li><i class="fa fa-globe"></i>Columbia, SC</li>
</ul>
</div>
<div class="col-md-8">
<h2>HEALING ICONS HELPS</h2>
<p>The creative process gives symbolic voice to these emotions that consume cancer patients during these times, enabling them to move past their “normal” known range of expression into the silent cathartic realm of color, shape, texture, and image. In order to have the energy for surgery, treatment, recovery, and healing, these confusing feelings need to be expressed.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="margin-bottom-40"></div>
<div class="container">
<div class="col-md-6">
<div class="search-blocks search-blocks-top-sea">
<div class="row">
<h2>RESEARCH HIGHLIGHTS</h2>
<p>No one argues that coping with a life threatening disease illicits extreme stress, producing overwhelming intense feelings that are difficult to articulate. These vast arrays of complex feelings are not speech ready but lie festering just below the psyche’s surface. Suppressed anger, fear, loss of control and even a sense of betrayal can often overcome cancer patients and their families, resulting in a toxic environment of stress.</p>
<p><button class="btn-u btn-u-lg btn-u-green"><i class="fa fa-cloud-download"></i> Download Now</button></p> *** POP OUT NEED HEIDI FOR DOCX
</div>
</div>
</div>
<div class="col-md-6">
<div class="search-blocks search-blocks-top-sea">
<div class="row">
<h2>ADDITIONAL RESEARCH</h2>
<p>Glaser, R., Sheridan, J. F., Malarkey, W. B., MacCallum, R. C., & Kiecolt-Glaser, J. K. (2000). Chronic stress modulates the immune response to a pneumococcal pneumonia vaccine. Psychosomatic Medicine, 62, 804-807.
<br /><br />
Psychological stress and the human immune system: a meta-analytic study of 30 years of SC. Segerstrom, GE Miller - Psychological bulletin, 2004 - APA AMERICAN PSYCHOLOGICAL ASSOCIATION
<br /><br />
Disclosure of traumas and immune function: Health implications for psychotherapy. JW Pennebaker, JK Kiecolt-Glaser, R Glaser - Journal of Consulting and Clinical Psychology, 1988
</p>
</div>
</div>
</div>
</div>
</div>
</div><!--/container-->	
<!--=== End Content Part ===-->
