<br>
<br>
<!--=== Content Part ===-->
<div class="container">	
<div class="row">
 <h1 class="section-title">Stories</h1>
        <p class="section-description">Healing Icons® reveals the profound role the visual arts play in uncovering active and latent trauma. This method activates the healing process enabling participants to move forward, empowering them with new coping strategies.</p>
        <br>
        </div>
        </div>
 <div class="container">	
<div class="row">
   <div class="col-md-6 md-margin-bottom-40">
   <br>
   <br>
<center><h1>Meet Helen.</h1>
 <p class="section-description">This needs to be a sentence about helen</p>

 <%= link_to "View Gallery", gallery_path, class: "btn btn-primary btn-lg" %></center>
</div>

<div class="col-md-6 md-margin-bottom-40">
<div class="responsive-video">
<iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</div>

</div>
 <br>
   <br>
   <br>
</div>
<!--/row-->

<!-- End Purchase Block -->
<div class="one-page">

<div class="one-page-inner one-grey">
<div class="container">


<div class="row">
<div class="col-md-6">
<br>
<br>
<br>
<br>
<br>
<br>
<center><img src="<%= asset_path("tara.jpg") %>" class="img-responsive" margin-bottom-"10" alt="Our Student"></center>
</div>
<div class="col-md-6">
<br>

<center><h1>Meet Tara.</h1></center>
<p>“I was sick for several years before I heard the words, “You have stage four ovarian cancer.” Doctors diagnosed me with everything from hypothyroid to fibromyalgia, but no one could tell me why I was in so much constant excruciating pain. My journey has been long and the pain and sickness I have lived with have caused my world constrict, becoming smaller, more isolated.<br>
<br>Being in treatment two to three times a week is difficult and leaves me feeling completely drained, lifeless.  Healing Icons has given me a focus beyond the ticking clock that most of my doctors offer me.  I am not my diagnosis, and Healing Icons has helped me realize that.   Conventional medicine doesn’t offer cancer patients a way to deal with the emotional trauma that comes with cancer.  <br><br>Here, we are able to creatively clarify our feelings and that gives us a basis, a foundation for rebuilding our lives.  When I am in class I feel really alive and I forget about the pain as I become totally immersed in each moment of the creative process.  This amazing program offers healing that is well beyond the scope of any other type of support group.  The experience is inspiring.”</p>

</div>
</div>

</div>
</div>
</div>

<div class="container">
   <div class="row">
   <br>
   <br>
   <br>
<center><div class="icon"><i class="fa fa-plus-square fa-3x"></i></div><h2>Join Us</h2></center>
<br>
<p class="section-description">
No experience neccesary,<br>
register early as class size is limited<br>
Email: <a href="mailto:info@healingicons.org" class=""><span class="color-blue">info@healingicons.org</span></a><br>
Or call Libby Daniels (803)-791-2289<br>
Jennifer Peagler (803)-791-2617
</div>
</div>



