
<div class="container">

Solutions
Often the hands will solve a mystery that the intellect has struggled with in vain.  Carl Jung

Seasons of Healing
Our physical world offers much solace from the chaos of life's stress. Each season offers s a theme for our contemplation and growth. Healing Icons® classes invite you to travel into creativity hand in hand with nature. As you work inwardly, nature will express her grand show of transition outwardly. 

It is our hope that you will choose to experience the felt sense of the seasons with our arts and healing community. You will learn healing practices, art and writing techniques and connect with others on the cancer journey, all of which will sustain you across the seasons of your life. 

Spring
As the bright light of springtime begins to warm the earth, our spirits are enlivened by the promise of what this season holds – opportunity for growth.  But before our seeds can be planted, our soil must be prepared, tilled and enriched.   We create a mixed media Healing Icon®, a visual symbol of reawakening to life.


Summer
Exuberant summer - the jeweled balm for the battered spirit: A time of fruitfulness and great potential, of warmth and passion.  A time filled with color and barefoot freedom.  We reclaim the joyous vitality of summer by learning the art of expressive painting and collage.
 
Winter
Quiet winter, cold and crisp and clean – a time of hibernation, silent reflection and going within – a time to digest what has happened during the year  and a time to reconnect with our quiet still small voice within To process our journey, we draw from within, exploring the art of bookmaking and create a visual journal to document our experiences, thoughts and 

Autumn
Glorious autumn is full of ripe color and cool mornings – a time of balance when the daylight and nighttime reach equal length.  Autumn is a time of letting go and embracing uncertainty.  We explore the meditative art of drawing circles, sacred circles, sometimes referred to as mandalas, a symbol of unity, wholeness and balance. 
</div>