<br>
<br>
<div class="container">

<h1>Introducing Art as Healing</h1>

<h2>Unexpressed Emotions and Anxieties = Stress = Weakened Immune Systems</h2>
<br>
<br>
<p>Since 1998, Healing Icons(r) has inspired thousands through artistic workshops in hospitals for adults touched by cancer.  We provide creative, evidence-based cancer treatment support that is accessible and affordable, all over the world. No experience necessary.
Healing Icons® offers workshops, courses, exhibitions, and community events.  Our methods activate the healing process enabling participants to move forward, empowering them with new coping strategies and healing practices that are carried with them as they transition into living beyond cancer!</p>
<br>
<br>
<strong>Creative Freedom</strong>
<br>
<br>
<p>This is art making that comes from the gut, honest & raw.<br>
It is not about talent and right or wrong.<br>
It is simply about learning another language and trusting where this silent powerful language of color and texture and line leads us.  We learn to trust the process.</p>
<br>
<p>Most importantly we experience an awesome sense of freedom while having loads of fun getting messy, getting lost and getting very curious. As you begin to get lost in the process of art making, slowly your creations will begin to speak to you, giving voice to what was once unspeakable.</p>
<br>
<br>

<strong>Dedicated Support</strong>
<p>We build communities of hope and optimism to transform the trauma of cancer into opportunities for growth.  Deep personal connections are created and our nurturing community of support continues to thrive, inspiring continued strength and fortitude for years to come.</p>
<br>
<br>

<strong>The Art of Survival- Post-Treatment</strong>
<p>Everyone’s best weapon against disease is a vibrant healthy immune system. Healing Icons classes offers support  during active treatment and beyond. Our mindful art-making practices produce the same benefits as meditation, improving your ability to handle and recover from stress while lowering stress hormone levels.  Research from the Jefferson-Myrna Brind Center of Integrative Medicine shows that mindfulness meditation coupled with art therapy can successfully decrease stress symptoms- Yay! We knew this already but nice when studies point to what we know and love!</p>
<br>
<br>
<strong>But you might wonder what kind of stress is there after-treatment?</strong>
<p>There is always great cause for celebration when a protocol of medical treatment is completed.  In one treatment center here in South Carolina, a huge brass bell hangs in the infusion unit and when someone receives their last round of chemo, the bell is rung with vigor, followed by rounds of applause from the other patients and staff.  But in the coming weeks, many survivors feel strangely alone and abandoned especially if a cancer survivorship plan has not been put into place.  As the journey forward begins, there are many quality of life issues to face.  Post-treatment challenges such as the short and long term side effects of treatment, stress of years of follow up appointments, fear of reoccurrence… In other words, transitioning from active treatment into recovery isn’t easy.</p>
<br>     
<p>Healing Icons offers support and community at all stages of the healing process.</p>                                                                                                       
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    