
<!--=== Footer ===-->
<div class="footer">
<div class="container">
<div class="row">


<div class="col-md-4 md-margin-bottom-40">
<div class="headline"><h2>Get Involved</h2></div>
<p><%= link_to "Exhibitions", exhibitions_path %><br>
<p><%= link_to "Activites", fundraise_path %><br>
<div class="headline"><h2>Stay Connected</h2></div>
<ul class="social-icons">
<li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
<li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
<li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>

</ul>
</div><!--/col-md-4-->


<div class="col-md-4">
<div class="headline"><h2>Learn More</h2></div>
<p><%= link_to "FAQs", faqs_path %></p>
<p><a href="http://healingicons.blogspot.com/" class="">Visit our Blog</a></p>



<div class="headline"><h2>Contact Us</h2></div>
<address class="md-margin-bottom-40">
Healing Icons <br />
P.O. Box 5194, Columbia, SC 29205<br />
Phone: (803) 429-4151 <br />
Email: <a href="mailto:info@healingicons.org" class="">info@healingicons.org</a>
</address>
</div>

<div class="col-md-4 md-margin-bottom-40">

<div class="headline"><h2>Announcements and News</h2></div>
<p>Subscribe to our newsletter and stay up to date with the latest news and class schedules!</p>
<form class="footer-subsribe">
<div class="input-group">
<input type="text" class="form-control" placeholder="Email Address">
<span class="input-group-btn">
 <input type="submit" value="Subscribe Now!" class="btn btn-default" />
</span>
</div><!-- /input-group -->
</form>

</div><!--/col-md-4-->

<!--/col-md-4-->





</div><!--/row-->
</div><!--/container-->
</div><!--/footer-->




<!--=== Copyright ===-->
<div class="copyright">
<div class="container">
<div class="row">
	
<p class="copyright-space">
2014 &copy; Healing Icons 
</p>

</div><!--/row-->
</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->


